span + span {
	color: red;
}

i * + * {
	background-color: green;
}

/* [href] {
	background-color: purple;
} */

a[href$="foo"] {
	background-color: aqua;
}

a[href$="test"] {
	background-color: rgb(255, 17, 0);
}
